<form id="addobject" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="mode" value="add">
    <table border="0">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Название выпрямителя</td>
        </tr>
    <tr>
            <td><input type="text" name="obj" value="" /></td>
    </tr>
    <tr>
            <td>ip - адрес</td>
    </tr>
    <tr>
            <td><input type="text" name="ip" value="" /></td>
    </tr>
    <tr>
            <td>адрес местонахождения</td>
    </tr>
    <tr>
            <td><input type="text" name="adres" value="" /></td>
        </tr>
    <tr>
            <td>Логин</td>
    </tr>
    <tr>
            <td><input type="text" name="login" value="" /></td>
    </tr>
    <tr>
            <td>пароль</td>
    </tr>
    <tr>
            <td><input type="password" name="passw" value="" /></td>
        </tr>
    <tr>
            <td>подтверждение пароля</td>
    </tr>
    <tr>
            <td><input type="password" name="passw2" value="" /></td>
    </tr>
    <tr>
            <td>community</td>
    </tr>
    <tr>
            <td><input type="text" name="comm" value="" /></td>
    </tr>
    <tr>
            <td><input type="button" value="добавить выпрямитель"  onclick="dosubmit('addobject','addobject.php','POST')"/></td>
    </tr>
    
    </tbody>
    </table>
</form>

    
    
        
        
        
        
        
        
       
        
        
        
        
        
    
    